[2014-11-24 19:35] reederz opened #4 "Manage composer dependencies with composer_manager module"
https://www.drupal.org/project/composer_manager

[2015-09-22 16:05] glena opened #17 "We need a way to show the drupal login"
In order to avoid being locked out, we need a way to show the drupal login instead of lock.
It is common after the user install the plugin, they logout and login using lock but the user does not have admin provileges

[2016-07-05 22:12] turnbuga opened #24 "Taking a stab a running this on pantheon -- and failing miserably"
Hello auth0-drupal team,

First thank you for your efforts to integrate auth0 into Drupal - I have it up and integrated successfully on my local system -- using our Auth0 Gold to integrate to a SAML based system, as well as opening up logins for facebook and google.

I run into an error when trying to load the module to our pantheon hosting.

1st - I had to remove the .git and .gitignore as submod

[2016-07-05 22:15] glena commented on #24
you need to run composer install to download the module dependencies, I think you need to use something like this https://www.drupal.org/project/composer_manager

[2016-07-05 22:34] turnbuga commented on #24
you are absolutely correct @glena - I was using composer from command line on the local system so thought those dependencies were included in the push .. but not so.

Now just need to figure out how to run composer install on pantheon environment. we could close this out as an issue - though I'll update it when I figure out how to run this remotely.

Thanks indeed.

<img width="1313" alt="screen s

[2016-07-05 23:04] glena commented on #24
Did you check the module I said before? That should do the trick
On Tue, Jul 5, 2016 at 19:34 Gregg Turnbull <notifications@github.com>
wrote:

[2016-07-05 23:10] glena commented on #24
I think this module should install the dependencies somehow. I am not familiar with it tho

[2016-07-06 15:37] turnbuga commented on #24
Found the missing piece. The screen shot mentioned in a previous note in the thread was indeed Composer Manager. Using composer I installed all dependencies for auth0_drupal:
<img width="1130" alt="screen shot 2016-07-06 at 9 35 27 am" src="https://cloud.githubusercontent.com/assets/14809023/16623943/0e98f922-435d-11e6-859b-88c100146f40.png">

- but was still getting the error message. It turns ou

[2016-07-06 15:38] glena commented on #24
cool :)

[2016-07-06 15:38] #24 closed

[2016-07-08 14:02] turnbuga commented on #24
Just a quick update.. had to back out of the idea of using composer_manager as it does not play nice with pantheon - auth0 worked for a while but one of my next commits triggered a rebuild and it wiped out the dependencies I had loaded. Ended up just using composer locally to build, and removed the .git / .gitignore items from the dependencies and included them in the pantheon repo. Pantheon does

[2016-07-26 21:32] arithmetric opened #25 "Support for linking accounts"
I am working on a use case where it is important to allow users to link more than one social login to their Drupal account. For example, allowing users to sign in to their Drupal account from either their LinkedIn or Salesforce account.

This should be doable with Auth0's [account linking](https://auth0.com/docs/link-accounts) functionality, but it requires implementing the interface in Drupal.

I

[2016-07-28 14:15] glena commented on #25
Sorry for the delay.

I did a quick check and this looks good, but I think this should not be part of the sdk.

The proper way to handle this, in my opinion, is the following:

1. The plugin should provide a hook so you can attach to it and get the user data from there (profile, id_token).
2. Then you should be able to store it in the session or database (I would try to avoid it) as you prefer
3.

[2016-08-02 18:52] arithmetric commented on #25
@glena Thanks for the review. Overall I agree with the approach you suggest.

Unfortunately the project sponsoring this work has reprioritized this feature, so I will not be able to follow up immediately on the next steps.

[2016-08-02 18:54] glena commented on #25
ok, just ping me when you get back to this so we can work it out.

Thank you

[2016-08-17 20:46] rmiroballi opened #28 "Allow for logout url returnTo to be App or Account level"
Add an advanced setting that will allow the logout returnTo url to have the client_id parameter so the url can be at the app level.  Right now the urls are checked at the account level.

[2016-08-18 12:48] glena commented on #28
Merged, thx for the contribution

[2016-08-18 12:48] #28 closed

[2016-08-24 14:30] rmiroballi opened #30 "Module does not appear in the drupal configuration page (Drupal 8)"
I've installed the module using the instructions provided, except into the modules directory for drupal 8 (which seems to be /var/www/html/modules/)

The module configuration does not appear in the modules configuration. I've installed other modules and they do appear. There are no errors in the logs

drupal 8 (latest) I am using a vanilla installation on mySQL
auth0 /drupal8 branch

[2016-08-24 20:26] glena commented on #30
hi @rmiroballi

did you use the code under this branch https://github.com/auth0/auth0-drupal/tree/drupal8?

The code on master is not compatible with drupal 7 since drupal changed the entire API.

[2016-08-24 20:34] rmiroballi commented on #30
Yes, I'm using the drupal8 branch.

[2016-08-24 21:05] glena commented on #30
and does the module appears on the list of modules to install it? (under `/admin/modules`)

[2016-08-24 21:13] rmiroballi commented on #30
No, that's the issue.

[2016-08-24 22:05] glena commented on #30
and did you upload the module dependencies?

You can either download them on your local environment using `composer install` and uploading the vendor folder or following one of the recomendations after `composer manager` being deprecated https://www.drupal.org/node/2405811 (check under `Notice: As of Drupal 8.1,`).

[2016-08-24 22:14] rmiroballi commented on #30
Yes, I did the local copy to server. The deps are in the vendor folder.  I can blow that away and try one of the methods in the article.

[2016-08-24 22:17] glena commented on #30
Upload the vendor folder should work... I asked Taylor to set up a call with you guys to troubleshoot

[2016-08-31 15:35] rmiroballi commented on #30
Resolved

[2016-08-31 15:35] #30 closed

[2016-08-31 15:36] glena commented on #30
nice to hear :)

[2016-08-31 15:39] rmiroballi opened #31 "All lock UI options should be available on advanced settings."
All of the lock UI options should be available on the advanced settings page.

This should be for the Drupal 7 and 8 modules.

[2016-08-31 15:40] rmiroballi opened #32 "All lock authentication options should be available in advanced settings"
All lock authentication options should be available in advanced settings screen.

This should be for the drupal 7 & 8 modules.

[2016-09-05 14:25] glena commented on #31
I am thinking about add a field to enter a json which will be passed to lock when it is initialized

[2016-09-05 19:56] rmiroballi commented on #31
That would work, possibly have two fields: one for UI and one for the Auth Params.

[2016-09-22 17:54] glena commented on #31
@rmiroballi I pushed a change to drupal8 to support lock 10 and it adds an extra configuration field called `lock extra settings` which is a json that will be passed to the lock options parameter.

[2016-09-22 20:25] glena commented on #31
I just added the same for lock 7, if you can test and let me know will be really appreciated

[2016-09-22 20:25] glena commented on #32
closed in favor of #31
Both will be handled as a lock extra settings field

[2016-09-22 20:25] #32 closed

[2016-09-22 20:27] glena commented on #31
@rmiroballi remember that this change will force lock v10 in both drupal 7 and 8. You will need to fix the cdn url to point to the correct version in the cdn `https://cdn.auth0.com/js/lock/10.2/lock.min.js`

[2016-09-22 20:27] rmiroballi commented on #31
I will check it out, thanks.

[2016-09-22 20:32] rmiroballi commented on #31
Lock 10 is preferred anyway, thanks.

[2016-09-28 06:03] thedavidmeister opened #33 "demo app not working"
I'm getting a 403 on the demo app:

<img width="986" alt="screen shot 2016-09-28 at 4 02 34 pm" src="https://cloud.githubusercontent.com/assets/629710/18902232/fc847fde-8594-11e6-8a8a-c5be739884f7.png">

[2016-10-11 20:34] josephdpurcell opened #35 "Register with packagist.org"
Would a auth0 maintainer mind submitting this to https://packagist.org/packages/submit ?

While this module is going through the review process on drupal.org, having it on packagist.org would at least allow the installer of this module to not have to add a custom repository like this:

[code]

[2016-10-11 21:36] josephdpurcell commented on #35
Before registering it, there is a problem with the name. Will post back soon.

[2016-10-11 22:03] josephdpurcell opened #36 "Support composer workflow for Drupal"
You cannot use a composer workflow with this module at present since it does not declare the composer type of `drupal-module` and the naming is incorrect. (See [drupa-commerce](https://github.com/drupalcommerce/commerce/blob/8.x-2.x/composer.json) module as an example.) More information on composer definitions for Drupal can be found [here](https://www.drupal.org/docs/8/creating-custom-modules/add

[2016-10-11 22:10] josephdpurcell commented on #35
Ok, I've described the problem with the current package name here: https://github.com/auth0/auth0-drupal/issues/36

Before registering with packagist, it might be helpful to correct the naming.

[2016-10-12 01:22] josephdpurcell commented on #36
The composer type is there in the `drupal8` branch, so I'm closing this ticket. I think I need to investigate further why I cannot get the module to work with composer.

[2016-10-12 01:22] #36 closed

[2016-10-12 01:25] josephdpurcell commented on #35
I closed the other ticket so I'll describe the naming problem here: when you install the module using a composer workflow it installs it at `modules/contrib/$name`, which means the module will get installed as `modules/contrib/drupal`, which is not the project name.

Suggested resolution: rename the package to `drupal/auth0`.

[2016-10-12 01:26] josephdpurcell commented on #35
PR #39 will need merged before registering with packagist.org.

[2016-10-12 12:09] glena commented on #35
checking...

[2016-10-12 12:17] glena commented on #35
what I thought, you can't set the vendor name to `drupal` and publish it in packagist. what about `auth0/auth0-drupal`?

[2016-10-12 13:22] josephdpurcell opened #41 "Align with typical patterns for managing composer dependencies"
# Background

Typically, what I've seen in Drupal 8 contrib space is to allow the user to manage their dependencies using composer in one of two ways:

1. The Drupal's composer.json
1. The Composer Manager module

For reference, see [Using Composer in a Drupal project](https://www.drupal.org/docs/develop/using-composer/using-composer-in-a-drupal-project) and [Installing modules' Composer dependenc

[2016-10-12 13:29] glena commented on #41
👍 merged

[2016-10-12 13:29] #41 closed

[2016-10-12 13:29] glena commented on #41
Thx for the contribution

[2016-10-12 13:29] glena commented on #35
@josephdpurcell ☝️

[2016-10-12 19:10] josephdpurcell commented on #35
@glena Fascinating. Perhaps these are just grandfathered in?

* https://packagist.org/packages/drupal/payment
* https://packagist.org/packages/drupal/tqextension

That is unfortunate, considering once it is adopted on to drupal.org it has to be `drupal/auth0`.

The name `auth0/auth0-drupal` won't work because hyphens aren't allowed in module names. It would get installed as `modules/contrib/auth0-

[2016-10-12 19:28] josephdpurcell commented on #35
It looks like it works! Today I learned that Drupal will in fact load `Drupal\auth0\Controller\AuthController` even if its inside `modules/contrib/auth0_drupal`. I'll submit a PR.

[2016-10-12 19:38] josephdpurcell commented on #35
The following now works with composer:

[code]

and requiring it:

[code]

[2016-10-12 19:40] glena commented on #35
cool, I will check this tomorrow then

[2016-10-13 12:28] glena commented on #35
Ok ready https://packagist.org/packages/auth0/auth0_drupal

Thx for your contributions

[2016-10-13 12:28] #35 closed

[2016-10-13 12:37] josephdpurcell commented on #35
@glena It works! Thank you so much for being open to these changes!

Now, for any Drupal 8 project that is using composer, all they will need to do is:

[code]

No need to add a custom repository or anything like that, and all the additional dependencies that auth0_drupal needs will be automatically downloaded as well, because composer. (i.e. they won't need to `cd modules/contrib/auth0_drupal` an

[2016-10-13 12:44] glena commented on #35
@josephdpurcell One thing (you probably already realise that). For drupal 7 you should use v1 and for drupal 8 you should use v2

[2016-10-13 13:54] josephdpurcell commented on #35
Confession: I didn't know what the versions were signifying. The pattern Drupal uses is similar to `7.x-1.x` or `8.x-1.x`, for example: https://github.com/timmillwood/drupal-workspace/releases. Here are two related docs:

* https://www.drupal.org/docs/7/choosing-drupal-version/version-numbers
* https://www.drupal.org/docs/7/choosing-a-drupal-version/release-types

I think the v1 and v2 tags are fi

[2016-10-13 13:55] josephdpurcell commented on #35
Given the above, the composer command for Drupal 8 should be:

[code]

[2016-10-14 00:48] josephdpurcell opened #46 "Support Drupal Code Style"
Currently, the `drupal8` branch does not follow the Drupal code style very well. This will be important during the Drupal project review [drupal.org/node/2298559](https://www.drupal.org/node/2298559). Details on the Code Style can be found here: [https://www.drupal.org/docs/develop/standards](https://www.drupal.org/docs/develop/standards).

# Proposed Resolution

Configure Code Climate to show che

[2016-10-14 13:12] glena commented on #46
nice

[2016-10-14 13:12] #46 closed

[2016-10-14 14:11] josephdpurcell commented on #46
:+1: Results are now displaying on Code Climate https://codeclimate.com/github/auth0/auth0-drupal/issues

If I get some time I'll submit a PR to help improve the code style compliance.

[2016-10-28 20:11] turnbuga opened #50 "RE: email Sync"
Just wondering - Does user email update to match registered social account that created a login - by enabling the module email address is locked. How can a user update that email address?

This comes up as I am integrating with MailChimp and allowing users to manage subscriptions in the user profile. Once a user signs up using Gmail, Facebook, etc - how do they update their email address.
Thanks.

[2016-10-31 13:15] glena commented on #50
You cant change the password for a social connection in Auth0. The reason is that this data belongs to facebook and is updated on each login. The proper way to do it is to create a user_metadata attribute (for example `notifications_email`) where you store the email to send the MailChimp campaigns if ther user does not want to use the primary one and use this new attribute to synchronise users wit

[2016-11-07 19:23] cdnsteve opened #51 "Auth0 module storing credentials in plain text in the database"
I've found that in version 2.02, the auth0 credentials are stored in the database as clear text in the `config` table. Advise this be encrypted or offloaded to phpdotenv, where credentials are stored outside the database in a `.env` and kept out of version control for better security.

https://github.com/vlucas/phpdotenv

[2016-11-07 19:25] glena commented on #51
do you mean the client_id and secret?

[2016-11-07 19:30] cdnsteve commented on #51
@glena yes.

[2016-11-07 19:40] glena commented on #51
Having it in the database or in a file it pretty much the same because it will continue to be unencrypted. If you have it in the database someone can get its info with sql injection but it is similar to having it in the fail if the attacker can dump it.

Since this package is focused to be used in a CMS the goal is to make it administrable from the settings section and that is wht it is in there.

[2016-11-10 20:36] turnbuga commented on #50
Hello Germán, Sorry for the radio silence - that makes absolute sense. I believe I am more interested in the email data associated with a social account - If someone updates their email address on facebook, do the records on Drupal update when that user logs into Drupal using that social connection. Again thank you - have another question related to twitter but will ask that question in a separate

[2016-11-10 20:48] glena commented on #50
Gotcha, currently it does not but it should not be hard. At this point https://github.com/auth0/auth0-drupal/blob/1.x.x/auth0.module#L213 you need to update the user with the email you got from the auth0 profile. This way you will keep it in sync with their social profile.

BTW, when I said password I was talking about the email. sorry for the confusion

[2016-11-10 20:49] turnbuga opened #52 "Use of Twitter to authenticate"
This is more of a survey to see if anyone has attempted to use Twitter as a social connection. The main gotcha in this is that twitter, by default, does not share the user email address when an auht0 account is created. There is a way request access of the email address with rules, but as the address is returned after account creation then users signing up in drupal receive a message confirm email

[2016-11-10 20:51] glena commented on #52
Are you using drupal 7 or 8?

[2016-11-10 20:53] turnbuga commented on #52
7 at the moment

[2016-11-10 21:03] glena commented on #52
I guess you are talking about this rule https://github.com/auth0/rules/blob/master/rules/get-twitter-email.md

try adding `user.email_verified = true;` after the callback at the bottom, it should look like this:

[code]

Since twitter does not provide an email, auth0 does not add this attribute to the profile. Later when the rule adds the email, that flag is still missing so the module assume the

[2016-11-14 15:01] #50 closed

[2016-11-17 19:25] nlighteneddesign opened #53 "Error: Class 'Auth0SDK\Auth0' not found in Drupal\auth0\Controller\AuthController->callback() (line 71 of /var/www/webapp/web/modules/contrib/auth0/src/Controller/AuthController.php)."
I used composer to install the SDK and it's in web/vendor/auth0. Is there something I'm doing wrong? The controller isn't recognizing the SDK.

[2016-11-17 22:39] glena commented on #53
is this drupal 7 or 8?

[2016-11-17 22:46] nlighteneddesign commented on #53
Sorry, drupal 8. I'm on your master branch should I be on the 8.x tag?

[2016-11-17 23:48] glena commented on #53
How did you installed?

If you run `compose require auth0/auth0_drupal:^2.0.0` in the root of your site it should do the trick (it shoudl download all the dependencies along with the module).

[2016-11-18 00:22] nlighteneddesign commented on #53
Ah no, I downloaded this and installed it normally, then ran `composer require auth0/auth0-php` to include the sdk which is where I thought the dependencies were.

Running `composer require auth0/auth0_drupal:^2.0.0` worked better but now I get this error:

[2016-11-18 13:02] glena commented on #53
That could be related to the minimun stability configured in composer. Try adding this two entries in the composer.json file (under `require`, like [here](https://github.com/auth0/auth0-drupal/blob/master/composer.json#L8-L9))

[code]

and run `composer update`

[2016-11-18 14:33] nlighteneddesign commented on #53
After doing that I get the same error
composer.json looks like this:

[2016-11-21 18:32] glena commented on #53
and did you find those in the `vendor` directory?

for example `/vendor/adoy/oauth2`? (it should be in the vendor directory in the root path of your project)

[2016-11-21 18:44] nlighteneddesign commented on #53
Sorry I wasn't clear.

I did verify they were in the vendor folder and I cleared cache.

I still receive the same error.

[2016-11-21 18:47] glena commented on #35
hi @josephdpurcell do you have any idea on why it could be failing? See the issue #53. Thank you beforehand :)

[2016-11-21 19:03] josephdpurcell commented on #53
If you're using composer to manage your modules, you will have something like this in your drupal's composer.json:

[code]

And all you need in your composer.json file is:

[code]

Note: mine is actually set to "dev-drupal8" instead of "^2.0.0".

Then, running composer install will create modules/contrib/auth0_drupal" and you should have all the auth0 module dependencies in vendor:

[code]

Are yo

[2016-11-21 19:17] nlighteneddesign commented on #53
I am not using composer to manage most modules, just this one.

I just noticed that it installed in /modules rather than /modules/contrib.

After trying this it moved the module from /modules to /modules/contrib as expected. I still get the same error though when trying to log in.

I changed it from ^2.0.0 to dev-drupal8 and composer said there were no changes.

Here is my composer.json file
[code

[2016-11-21 19:20] nlighteneddesign commented on #53
To give a bit more info:

1. I uninstalled and reinstalled the module
2. added client secret and site.
3. Go incognito to login get redirected to the sso page
4. Log in
5. Receive error

[2016-11-21 20:34] josephdpurcell commented on #53
First thing, you want to decide how you want to manage downloading and installing modules. There are generally two recommended options (from the command line):

1. Use composer to download modules and their dependencies, then enable the module with drush or the admin
2. Use drush to download the module, use composer to install their dependencies, then enable the module with drush or the admin

Dep

[2016-11-21 20:59] glena commented on #35
@josephdpurcell really appreciated you input on the other issue. Shoot me an email to german [at] auth0 [.] com.

[2016-11-21 21:14] nlighteneddesign commented on #53
Thank you for taking the time to write this up.

I generally use drush to manage dependencies, I've used composer on projects with other clients that prefer that workflow with minimal issues.

My first attempt was to just install the module with the normal route, however since this isn't on d.o I just downloaded the module. I was missing the sdk and a couple other things so I attempted to use Comp

[2016-11-21 21:51] nlighteneddesign commented on #53
Ok I think I  just figured out the cause. For some reason it looks like when I commited everything the adoy library and the firebase library were git repos or submodules. The file structure looks like this: php-jwt → 3aa3d978973f [3aa3d978973f]

However when I look locally the files are all there, there is no .git or .gitignore preventing the folders from being added. when trying to run composer i

[2016-11-21 21:52] josephdpurcell commented on #53
Okay, great! So, you clearly have the files in the right places, the auth0_drupal module is in the modules directory with the other things and in vendor you have the dependencies.

It's clearly loading the auth0 module correctly, since it's the auth0 module that's throwing the error AND you can configure it.

It seems like the problem is surrounding Drupal's ability to load the vendor libraries, p

[2016-11-21 21:58] nlighteneddesign commented on #53
I got it, because of the difference in php versions I was missing the ext_mbstring extension I needed. I added that.

Next because composer is cloning those git repos I was essentially tying to commit a sub repo. The really confusing thing though is the file structure is right on my local machine. All of the files are there, and there are no .git or .gitignore files/folders.
On the server deleting

[2016-11-21 22:12] josephdpurcell commented on #53
Great news! Glad to hear.

Keep in mind you are definitely not alone--while composer is, imo, the best feature of Drupal 8, it does introduce complexity and confusion with having dependencies not uniformly managed.

Happy to help if any composer or related issues come up.

[2016-11-22 00:03] glena commented on #53
Awesome, thx @josephdpurcell for your help here :)

[2016-11-22 00:03] #53 closed

[2016-11-22 00:40] nlighteneddesign commented on #53
Thanks guys, I think it's pretty clear I need to brush up on composer and this half and half approach is what is causing me some headaches.

[2017-01-11 13:54] josephdpurcell opened #65 "Submit module to drupal.org"
This module is great and provides a lot of value.

The ticket on Drupal.org to get this module accepted needs an Auth0 representative to submit back the status of the module in order for progress to continue: https://www.drupal.org/node/2298559

I think the two outstanding items for the Drupal 8 version are using dependency injection ([link](https://www.drupal.org/docs/8/api/services-and-dependenc

[2017-01-24 00:46] josephdpurcell commented on #41
Side note: here is a gist for applying to a D8 module that was installed that includes the vendor include statement: https://gist.github.com/josephdpurcell/6e51b23fe4ed2608b0bd50d87df22195.

If you're using cweagans/composer-patches you can do:

[code]

To apply the patch. If you're using the latest "drupal8" branch this patch is not needed.

[2017-02-01 07:59] darrenmothersele commented on #51
@cdnsteve you should store a dummy value in the config setting and then override in settings.php, where you can read it from an environment variable.

https://www.drupal.org/docs/8/api/configuration-api/configuration-override-system

[2017-02-28 05:13] arshad commented on #65
We'd like to see this happen too. Let us know if you need any help.

[2017-03-01 07:46] dremy commented on #65
+1 can someone from Auth0 follow up? See https://www.drupal.org/node/2298559

[2017-03-24 17:36] chronosinteractive commented on #65
we have a client considering Auth0 + Drupal right now. This module would go a long way toward closing the deal.

[2017-03-27 06:09] rshepherd-dh commented on #65
+1

[2017-03-27 09:04] rshepherd-dh commented on #65
Hey Guys,

I've gone and created the module page on Drupal.org (https://www.drupal.org/project/auth0) and have pushed your tagged releases but change them to the Drupal format. I've also given the `auth0` user on drupal.org full access to the project.

I'm currently in the process of applying for permission to opt into security advisory coverage for the module so there are no releases as yet.

If

[2017-03-27 13:10] josephdpurcell commented on #65
Huzzah! I'll close this ticket since there is now a project page on drupal.org.

[2017-03-27 13:10] #65 closed

[2017-04-18 16:57] benstallings opened #72 "Class OAuth2\Client not found"
I'm trying to get version 1.x working with Drupal 7. On the login screen (and in the log), I see "Notice: Undefined index: callbackURL in template_preprocess_auth0_lock() (line 876 of /[path]/auth0-drupal/auth0.module)." In my Auth0 dashboard, I have the callback URL configured as specified in the README.txt.

I was able to log in with a Facebook account, but then I got redirected to https://[my s

[2017-04-19 16:40] benstallings commented on #72
I was able to manually set the necessary variable by doing this at the command line:

`>>> $v = array('callbackURL' => 'https://dev-new.uua.org/auth0/callback');

How was that variable supposed to be set?

[2017-04-19 16:43] benstallings commented on #72
Scratch that: manually setting the variable made the error message go away but did not prevent the 500 server error when I return to the callback path.

[2017-04-19 16:53] benstallings commented on #72
Running the code of the auth0_callback() function manually, when I try to define the $auth0 variable, I get

[2017-04-19 16:58] benstallings commented on #72
I OAuth2/Client is defined in /[path]/sites/all/modules/contrib/auth0-drupal/vendor/adoy/oauth2/src/OAuth2/Client.php . Any idea why it's not autoloading?

[2017-05-04 19:06] benstallings commented on #72
In case anyone else runs into this problem, the solution seems to be to get Composer Manager module up and running first, and then enable this module. The Composer files need to be in a writable directory, and depending on your hosting situation that may need to be inside sites/[site-name]/files. Composer Manager lets you do that.

[2017-07-07 19:38] anakinjay commented on #33
same here

[2017-09-20 02:39] rob3000 opened #78 "Coding standards and Logic split"
To bring the auth0 module into line with the one maintained on drupal.org i've gone a refactored the code into a helper class so that other modules developers using the auth0 module in drupal can use the same methods. I've also fixed up most of the coding issues throughout this module.

PR https://github.com/auth0/auth0-drupal/pull/77

[2018-01-07 15:29] pedrogk opened #84 "Missing argument for AuthController::getNonce()"
<img width="1060" alt="screen shot 2018-01-05 at 6 50 37 pm" src="https://user-images.githubusercontent.com/417135/34650837-03443564-f38d-11e7-9853-2b5a58cd7288.png">

[2018-01-07 15:38] pedrogk commented on #84
Fixed in PR #85

[2018-02-21 15:32] harmstyler opened #86 "Drupal.org module"
Is this package in sync with the [drupal.org](https://www.drupal.org/project/auth0) module? It doesn't appear to be the case. In the case that the two repos have diverged, which one is recommended?

[2018-02-28 16:19] joshcanhelp commented on #86
@harmstyler - Looking into this now. We've got a new version of the Auth0 PHP SDK being added and tested now and we'll get the module and this repo in sync as part of that process.

[2018-03-02 18:51] joshcanhelp commented on #86
For anyone else wondering on this ... we're working with @rob3000 to get these two on the same page. Our internal maintainers are using `master` here for Drupal 8 but it looks like the Drupal.org module has been more actively maintained. We're working out a plan right now to get these synced up in both places, get version numbers the same, and make sure it stays that way going forward.

[2018-03-23 18:47] justinlevi opened #90 "Logging in with Admin account doesn't seem to work"
Hey gang, I'm finding the readme.txt and any instructions very confusing.  Here's what we have in the technical notes:

The last line of the first paragraph states: "This section explains how". However, I don't actually see any information for how to get an existing drupal database users to be authenticated with Auth0.

How would you setup Auth0 to work with your local database during development?

[2018-03-23 21:19] justinlevi opened #91 "User management"
I'm a bit confused about the user management with this module. If I have a bunch of existing Drupal users already, what am I supposed to do here? The documentation makes it seem like they should just work, but that doesn't seem right to me.

I can create a user in Auth0 but then what happens if I update the password in Drupal? What about if I change the email in drupal? How are the user's email an

[2018-03-23 21:23] justinlevi opened #92 "Why so many uncommented PRs?"
I'm a bit concerned about the number of PRs that have been sitting out there with no comments. Is this module still being actively maintained/developed?

[2018-03-24 14:57] joshcanhelp commented on #92
Hi @justinlevi ... this repo has fallen a bit behind, as you can see, but we're in the process of getting it up-to-date. The module on DO was being community maintained and fell out of sync with this repo. We have some security updates [being tested](pull/88) now, then we'll work with the main maintainer on DO to get that repo synced with this one.

I'll answer your other two issues as soon as I c

[2018-03-24 14:57] #92 closed

[2018-03-28 14:21] joshcanhelp commented on #90
More or less a duplicate of #91. Will answer there.

[2018-03-28 14:21] #90 closed

[2018-03-28 14:51] joshcanhelp commented on #91
@justinlevi

First, I'll say that the documentation for this module definitely needs updating and we're working on that now, along with a few updates to how the login is handled. We're also working with the DO community to get the module up to Drupal coding standards and make sure what's available on DO is the same as what's here.

Are for your specific question about users ... Auth0 can't verify

[2018-03-28 14:51] #91 closed

[2018-03-28 16:42] #25 closed

[2018-03-28 16:46] joshcanhelp opened #93 "Fix settings form pages"
Need to clean up the titles and set proper defaults. See #82

Defaults can be set in an install script (@rob3000):

[2018-03-28 16:49] #84 closed

[2018-03-28 16:49] #52 closed

[2018-03-28 16:50] joshcanhelp commented on #33
Removed in #87

[2018-03-28 16:50] #33 closed

[2018-03-28 16:52] joshcanhelp commented on #51
Leaving this open to add to a README

[2018-03-28 16:52] #72 closed

[2018-04-06 18:40] joshcanhelp opened #95 "Duplicate EmailNotVerifiedException caught in AuthController::processUserLogin"
`$this->validateUserEmail($userInfo)` catches missing email or missing verification, then `$user = $this->signupUser($userInfo)` later on catches missing verification. We should not catch the same error twice.

Reported by @lbalmaceda [here](https://github.com/auth0/auth0-drupal/pull/88#discussion_r179248399)

[2018-04-25 10:58] timrabbetts opened #97 "Way to login as admin"
There is no way to login as admin tried email and password and doesnt work, I guess the normal login isnt working.  Be good to be able to login as admin.

[2018-04-25 11:08] timrabbetts opened #98 "Import picture on sign up"
I would like to pull the avatar from gmail on signup and store it in drupal?

[2018-04-25 14:28] timrabbetts opened #99 "Ability to assign role to users signed up with auth0 within drupal."
When a user signs up or logs in with auth0 to drupal site, they have no roles be nice to auto assign in some way a role, or have a rule maybe if auth0 sign up then do x.??

[2018-04-25 14:54] joshcanhelp commented on #98
This is a bit out of scope for the SDK or the Drupal module. Depending on how you setup the social connection, this data could be grabbed from the [management API](https://auth0.com/docs/api/management/v2#!/Users/get_users_by_id
) or a [custom claim](https://auth0.com/docs/api-auth/tutorials/adoption/scope-custom-claims) on the user profile.

[2018-04-25 14:54] #98 closed

[2018-04-25 15:03] timrabbetts commented on #97
That didnt work, I am trying to login as admin to the drupal site through
the auth0 portal, first it says need email, I put in admin email and it
fails.

[image: Drupal Contactor]
*Tim Rabbetts*
Drupal Contractor
email: timrabbetts@gmail.com
phone: + 07730 327 508
[image: Twitter icon]  <https://twitter.com/timrabbetts>[image: LinkedIn
icon] <https://www.linkedin.com/in/timrabbetts/> www.timrabbet

[2018-04-27 03:32] joshcanhelp commented on #97
@timrabbetts - I'll run through the process again on my end tomorrow or Monday and see if I find any holes.

[2018-05-05 12:55] truls1502 commented on #86
Any updates on it?

[2018-05-07 16:00] joshcanhelp commented on #86
The PR is just above your comment. This is going slower than I hoped due to a big release in one of our other libraries. I'll have some time later this week to make progress.

[2018-05-17 12:58] timrabbetts commented on #99
Could I get some advice on how to modify this module so we can have option of assigning a user role to auth0 users please?

[2018-05-17 18:45] joshcanhelp commented on #99
@timrabbetts - Are you looking to assign a specific role to new users created with Auth0 or do you want to assign roles to users based on data that's stored in Auth0? The latter is a discussion we're having internally for all the CMSes we support, hence the `enhancement` tag. The former is something you should handle in your own module, probably after the user creation process (look for the stored

[2018-05-18 07:39] timrabbetts commented on #99
Managed to patch it and got profile pic etc working.

[2018-05-18 07:40] timrabbetts commented on #99
Can close if you want.

[2018-05-18 07:48] timrabbetts commented on #97
Had no joy with this.  To be clear.  I dont want to login with a new user linked to drupal account.  I want to login as the root user which already exists prior to auth0.  When I try and put admin/mypassword and hit login, it fails says "invalid email" so I put in the admin email and it fails "something went wrong".  I just want to be able to do standard/normal drupal login with root user while au

[2018-05-18 07:48] timrabbetts commented on #97
At the moment I have a split config and constantly importing configs when working on this which is a pain.

[2018-05-23 13:46] timrabbetts commented on #97
Not sure I quite follow, the user doesnt exist on Auth0.  I have setup auth0 on drupal and now I face this form:
![auth0](https://user-images.githubusercontent.com/12124608/40428274-cd8ae41a-5e97-11e8-826c-0b2cd9dbe587.png)
I want to use my drupal admin user, which doesnt exist anywhere on auth0, to login through the normal drupal login process, the process that this form has replace.  When I try

[2018-05-23 14:18] timrabbetts commented on #97
This I get what you were suggesting, create the row on the table, and a user in auth0 still same result.

[2018-05-23 14:54] joshcanhelp commented on #97
@timrabbetts - That message is more of a general "something went wrong." User-specific errors are called out explicitly (incorrect password, user doesn't exist, etc). Sounds like you might have a problem in your configuration. Did you sign up first before logging in? Are there any errors in the JS console? Double-check your domain, client ID, and secret in Drupal as well as the callback and origin

[2018-05-23 15:21] timrabbetts commented on #97
got something working now, so I used auth0 to sign up then I edited the table and changed the drupal id to the admin uid rather than the new users uid.  Now I can login and get into the admin account.  Thats fine for now but just being able to use the admin ccreds would be better for future?

[2018-05-23 16:04] joshcanhelp commented on #97
That's how it does work on my end but I'll make sure to test it again based on your feedback here. Obviously adding directly to the DB is not expected/desired behavior.

[2018-06-11 09:20] timrabbetts commented on #97
Just so I understand this process.  I created a new user on the Auth0 UI.  Then I should be able to login through the Auth0 user/password form using those credentials?  As I just tried and it didnt work.
WE'RE SORRY, SOMETHING WENT WRONG WHEN ATTEMPTING TO LOG IN.
Now before I can manually add entry to auth0 users table and it works but thats no use.  We are not using the social login stuff like g

[2018-06-13 23:32] joshcanhelp commented on #97
Correct. I just tested on a fresh install and everything worked as expected. I have **Link auth0 logins to drupal users by email address** turned on and **Requires verified email** turned off in the Advanced settings (the former is what makes this happen, the latter should not affect it).

This is on a fresh install, though. If you already had it setup differently and already started signup up or

[2018-06-26 14:00] joshcanhelp commented on #17
Fixed in #20

[2018-06-26 14:00] #17 closed

[2018-06-26 14:00] #78 closed

[2018-06-28 03:04] rob3000 commented on #97
Hey @timrabbetts to login to drupal using the original admin you can go to `/user/login/legacy` which exposes the old drupal login form so admins can still login.

[2018-06-28 08:38] timrabbetts commented on #97
Works great thanks, prob worth getting this in the docs! thanks

[2018-06-28 15:57] joshcanhelp commented on #97
Thanks @rob3000!

@timrabbetts - I'll make sure that gets added.

[2018-06-28 15:57] #97 closed

[2018-07-30 13:16] margyly commented on #86
What's the status of this? I added the Auth0 module to Drupal 8 using composer. Does that get me the right version?

Thanks in advance!

[2018-07-30 15:14] margyly opened #107 "Invalid state"
I'm using the module from GitHub and I am getting "invalid state" errors in Drupal 8:

Location: http://uua_d8.dd:8083/auth0/callback?code=m1oeWYyO7WBWYmK1&state=DTW6pOH...
Message: Failed to exchange code for tokens: Invalid state

Requiring "auth0/auth0-php": "5.0.6" in composer.json does not solve the problem.

Any ideas or help will be appreciated.

[2018-07-30 17:46] joshcanhelp commented on #86
@margyly - Composer pulls from this repo and that is probably the best version to use right now. This particular library is community-supported at the moment (meaning: not official Auth0 software) but I'm working closely with the maintainer to get it up-to-date and on Drupal.org.

[2018-07-30 17:48] joshcanhelp commented on #107
@margyly - The Auth0 PHP version you want is in the `composer.json` file here:

https://github.com/auth0/auth0-drupal/blob/master/composer.json#L7

5.1 or greater should fix that `state` error message (security enhancement added in that version).

Sorry for the trouble here ... give that a try and let me know if you're still having issues.

[2018-07-30 17:48] #107 closed

[2018-07-30 18:18] truls1502 commented on #86
Let me or us know if you need us to test the up-to-date module or dev module. 😊 I would be happy if you can get the module on 7.x version too. 😉

[2018-07-30 18:34] joshcanhelp commented on #86
@truls1502 - Really appreciate that, thank you! We're mainly concentrating on D8 but will look into getting this pushed to D7 as well.

[2018-07-30 18:45] truls1502 commented on #86
@joshcanhelp - you are welcome! Let me know if you need an extra hand, I will try to give a patch if I find something not right on https://www.drupal.org/project/issues/auth0

[2018-08-11 00:39] margyly commented on #86
@joshcanhelp When I install the module and configure it, attempting to log in gives me this message: WE COULD NOT REACH THE SERVER. PLEASE CHECK YOUR CONNECTION AND TRY AGAIN.

And I'm seeing this network error: Failed to load https://uua.auth0.com/usernamepassword/login: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requ

[2018-08-13 16:12] joshcanhelp commented on #86
@margyly - That sounds like a configuration issue in your dashboard. Make sure you have the correct URLin the "Allowed" fields in your Application settings, specifically "Allowed Origins (CORS)" (sounds like that should at least have `https://3910-auth0-ye4wami-2gsgzx7spxgoy.us.platform.sh/`)

[2018-08-15 19:58] joshcanhelp commented on #86
Try adding `https://3910-auth0-ye4wami-2gsgzx7spxgoy.us.platform.sh` to the Allowed Origins field. This issue often comes up during configuration so I'm pretty sure it's not a module issue but it could be.

If you're still having a problem here and you suspect it's a Drupal module problem, can you open a separate issue here? I'd like to keep this thread specific to the OP's topic. Thank you!

[2018-08-16 15:12] margyly opened #108 "Module can't connect to Auth0 server"
I deployed the module to a dev site at https://3910-auth0-ye4wami-2gsgzx7spxgoy.us.platform.sh/user/login, and now I'm back to the error messages I saw before: "WE COULD NOT REACH THE SERVER. PLEASE CHECK YOUR CONNECTION AND TRY AGAIN." in the UI and this in the network diagnostics in Chrome:

Failed to load https://uua.auth0.com/user/ssodata: No 'Access-Control-Allow-Origin' header is present on

[2018-08-16 15:13] margyly commented on #86
My apologies -- I didn't mean to hijack this issue. New issue is at https://github.com/auth0/auth0-drupal/issues/108.

[2018-08-16 15:14] margyly commented on #108
@joshcanhelp wrote: "Try adding https://3910-auth0-ye4wami-2gsgzx7spxgoy.us.platform.sh to the Allowed Origins field. This issue often comes up during configuration so I'm pretty sure it's not a module issue but it could be."

See above: it's already in the "Allows Web Origins" field for the application. Is there anywhere else it needs to be specified?

Thanks in advance!

[2018-08-17 13:00] margyly commented on #108
More ideas from Josh: https://www.drupal.org/node/2715637

And: you might try checking 'Redirect login for SSO' on the advanced settings for the module /admin/config/auth0/advanced to bypass this interaction completely.

And the second one did it. I also had to add a URL to the Allowed Logout URLs on the Tenant Settings page at https://manage.auth0.com/#/tenant/advanced to make logging out redirec

[2018-08-17 13:14] margyly commented on #108
Thanks, @joshcanhelp !

[2018-08-17 13:14] #108 closed

[2018-09-11 03:54] hawkeyetwolf commented on #86
Thanks so much for your work on this, @rob3000! The `master` branch of this repo works, while the 2.x branch in the drupal.org repo does not. Let's get this up there! :) I'm happy to perform the initial push and figure out an automatic synchronization if you'd like. I would just need write access to the project on d.o.

[2018-09-14 12:37] rob3000 commented on #86
Hey @hawkeyetwolf Sorry for the late reply there is one last PR that i'd like to get in before syncing them across and thats making sure the module uses dependency injection so we dont need to use \Drupal:: everywhere. I've created a PR here https://github.com/auth0/auth0-drupal/pull/109 and once this gets merged happy to then get them all synced up :)

[2018-09-18 17:32] margyly opened #110 ""Sign Up" creates user in Auth0 but not in Drupal"
When I use the "Sign Up" option and enter an email that doesn't exist in the Auth0 database, the module creates the user in Auth0 but it doesn't create the user in the Drupal database. What is supposed to happen?

Desired result: Module creates a user account in the Drupal database, connected to the Auth0 user record.

[2018-09-19 17:03] joshcanhelp commented on #110
Sorry for the trouble @margyly. Is there anything relevant in the Drupal logs? There is pretty thorough logging in the plugin.

That said, we're working on a new version of this module and will be going through some rigorous functional testing as part of that release. The `master` branch here has the alpha version that's slated for testing, might be worth trying that out.

[2018-09-19 17:03] #99 closed

[2018-09-19 17:05] #4 closed

[2018-09-19 20:47] joshcanhelp commented on #110
@margyly - Actually, hold off on the master branch, there are a few fixes that need to be made there.

[2018-09-20 13:02] joshcanhelp commented on #110
`master` branch is now in good shape.

I tested this and the user is created in both Auth0 and Drupal so I'm not sure what's happening on your end. If you can let me know what error message you're seeing and and relevant Drupal logs, that would be helpful.

Thanks!

[2018-09-20 13:05] joshcanhelp commented on #86
Quick update here ... with lots of help from @rob3000, we've got the `master` branch of this repo in good shape and working for both new and legacy tenants. I'm going to be doing a bit more testing in the next day or two, then we'll push these changes to the Drupal.org module. Should not be any breaking changes and everything is working well so far so you're welcome to give `master` here a test.

[2018-09-21 09:41] TheGreenParty opened #114 "Cannot uninstall module (Druapl 8)"
When trying to uninstall the module the following error is encountered.

Error: Call to undefined function variable_del() in auth0_uninstall() (line 72 of /modules/contrib/auth0_drupal/auth0.install) #0 [internal function]: auth0_uninstall() #1

Drupal v8 all patched and up to date

[2018-09-21 20:38] joshcanhelp commented on #114
@TheGreenParty - Are you using the DO version or the one here? If here, are you using the `master` branch? That's just been fixed up recently and I don't see a `variable_del` call in that file.

[2018-09-24 10:27] TheGreenParty commented on #114
was using the DO last stable release from Jan.  I will try the master branch from here instead.  Thanks.

[2018-09-24 12:03] TheGreenParty commented on #114
Okay, I can confirm using the latest version from GitHub directly resolves this issue.  Perhaps a new stable release should be made to update the DO version?

[2018-09-26 18:55] #51 closed

[2018-09-26 21:42] margyly commented on #110
Well, damn, I've been using version 5.0.6 of the module! I changed the line in composer.json to:

"auth0/auth0-php": "5.1",

Now, when I look in Drupal, it shows: Version: 8.x-2.0.

[2018-09-27 18:48] joshcanhelp commented on #110
@margyly - I'm going to "officially" release what's on the `master` branch here tomorrow as `2.1` here. I'll also sync that on Drupal to make a `8.x-2.1` release there. If you can wait until then, that's probably best. Otherwise, you'll need to manually check this repo out.

In the Composer file, you don't want to adjust `auth0/auth0-php`, that's a library that the Drupal module depends on and it

[2018-09-27 18:48] #110 closed

[2018-09-27 18:49] joshcanhelp commented on #86
Last update here ... I'm going to publish a `2.1` release here and sync up the Drupal repo tomorrow. When that's complete, I'll close this down and we'll be all synced up!

[2018-09-28 01:13] margyly commented on #110
Sounds good. Thanks!

[2018-09-28 17:57] #86 closed

[2018-09-28 18:12] truls1502 commented on #86
I can't see 2.1 on Drupal.org yet :)

[2018-09-28 19:00] joshcanhelp commented on #86
[Done (here)](https://github.com/auth0/auth0-drupal/releases/tag/8.x-2.1) and [done (DO)](https://www.drupal.org/project/auth0/releases/8.x-2.1)! Please open a new issue here if you have any problems with the latest. @rob3000 and I will be triaging the issues and bugs on DO in the near future.

Thanks everyone for your help and patience here!

[2018-10-01 00:58] margyly commented on #110
Can I reopen this, @joshcanhelp ? I'm now using version 8.x-2.1, but it still not creating new users in Drupal. From my site's home page at https://2061-auth0-signup-qbzpkxa-2gsgzx7spxgoy.us.platform.sh/, I choose to "Sign Up", enter an email address that does not exist in the Auth0 database, enter a password, and click "Sign Up". I return to the home page where I see the message "There was a prob

[2018-10-02 16:07] joshcanhelp commented on #110
@margyly - that's saying that the ID token received is not formatted properly, wouldn't be anything in settings that would do that. I tested everything straight through several times before releasing that so I don't think it's a problem with the module, also have not heard any other reports.

It's failing here:

https://github.com/auth0/auth0-drupal/blob/master/src/Controller/AuthController.php#L4

[2018-10-02 22:11] margyly commented on #110
So what's failing is entirely within the module and there's nothing I could be doing to break it? Doesn't that sound like a problem with the module?

--
Margy Levine Young

[2018-10-02 22:27] joshcanhelp commented on #110
What's failing could be a configuration on your server that's not playing well with the module. Without more information about why it's failing (e.g. why it's not seeing a valid ID token), I'm not sure what more I can do here. It very well could be an issue with the module but I have no way to replicate it, hence no way to fix it. If you can give me more information about the state of your applica

[2018-10-03 13:44] margyly commented on #110
Wow, that's a very kind offer! Thanks! I know how annoying it is to try to fix something you can't replicate.

Looking further, I see that the Drupal account doesn't get created until AFTER the user has clicked through on the confirmation email. Once I do that, it's created the account. I thought that it would create an unverified account in Drupal, and then verify it.

SO, the error is mine! Wooh

[2018-10-04 21:34] mptap commented on #95
@joshcanhelp Have opened #117  - wrapped the if else block with try and moved the exception outside. Let me know if you have a different approach in mind. Happy to contribute for Hacktoberfest 2018!

[2018-10-05 17:43] #95 closed

[2018-10-13 05:16] duartegarin opened #118 "What happens if exception happens in Drupal?"
Hi,
I'm evaluating auth0 for our platform that has a Drupal CMS backend exposing content via GraphQL to multiple React applications.

From what I can understand, it would be possible to handle the login/signup workflow in react and leverage this module to create the users in Drupal and having them in synch with auth0.

What I'm trying to understand is, what happens if the process fails in Drupal?

[2018-10-13 23:04] duartegarin commented on #118
Hi @joshcanhelp ,
Thank you so much for the quick reply!

Ideally I don't want to expose our cms backend to users so I might need to consider another approach.
I suppose you're right, maybe orphaned accounts aren't a huge deal.

Maybe I could use auth0 react lib, handle the entire process in react and when the first GraphQL request needs to be send to Drupal, I can check for the drupal uid in the

[2018-10-16 02:38] joshcanhelp commented on #118
As long as you follow what the callback is doing in terms of security recommendations (state checking and ID token validation being the main ones), that should work fine. Typically orphaned accounts happen en masse when something goes wrong (during setup, errant configuration changes, etc). Just make sure you're tracking them in case something larger is amiss.

[2018-10-16 02:38] #118 closed

[2018-10-16 03:11] duartegarin commented on #118
Awesome, will give this approach a try.
Thanks again for the help @joshcanhelp !

[2018-10-22 08:24] nodomain opened #119 "Configuring Auth0 URL parameters"
This one is similar to https://github.com/auth0/wp-auth0/issues/521

For our setup we need to be able to add parameters to the Authorize URL.
The desired URL would be ```https://sub-tenant.eu.auth0.com/authorize?connection=main-tenant-oidc&display=sub```

Thanks for accepting this enhancement issue :-)

[2018-10-22 17:10] joshcanhelp commented on #119
Thanks for the report @nodomain! We're accepting Pull Requests if you want to take a crack at it. Otherwise, I'll leave this open so it can be picked up later 👍

[2018-11-29 11:44] IgsuMustonen opened #123 "How to set user roles based on app_metadata?"
So this isn't a bug neither a feature request but more like a support request.

The documentation about Claim for role values is quite short and maybe enough for experienced users, I'm new to Auth0 and relatively experienced in Drupal and well, I don't really understand what is the claim for the role mapping and where do I find it.

### Description

Main goal: To set user's role in Drupal based on

[2018-12-03 10:34] IgsuMustonen commented on #123
Solved by using Authorization extension and aading the roles definition to idToken using somethin like this:
`
function (user, context, callback) {
  const namespace = 'https://myapp.example.com/';
  context.idToken[namespace + 'roles'] = user.user_metadata.roles;
  callback(null, user, context);
}

`
With the claim being in this case "https://myapp.example.com/roles"

[2018-12-03 10:34] #123 closed

[2018-12-03 15:46] joshcanhelp commented on #123
Thanks for checking back in here, @IgsuMustonen, and apologies for the delay in getting back to you.

For anyone else looking to do this, official documentation on the custom claims mentioned above is here:

https://auth0.com/docs/scopes/current/custom-claims

[2018-12-19 06:55] IgsuMustonen opened #126 "Resend verification link leads to blank page"
### Description

When a user clicks on the resend email verification link, the href value leads to a blank page.

### Environment

* Module version: 2.1
* Drupal version:  8.6.4
* Browser version:  Firefox

### Reproduction

Make sure email verification is required. Create new user and before verifying email, attempt to log in. This should show a red error message about email not verified, click o

[2018-12-20 06:05] IgsuMustonen commented on #126
Thanks for the quick answer!

I've got some more detailed information regarding this issue. It seems to be happening only in Firefox (Tested on Windows 10 on the latest version). The console is not giving any errors.

Apparently my client is also having this isssue using Firefox. Could you please confirm?

[2018-12-20 16:23] joshcanhelp commented on #126
@IgsuMustonen - I just tried with Firefox and see that issue now as well. It looks like changing that to `javascript:;` instead works in the same way. I'll put through a PR to fix that ASAP. If you want to try that on your end as well, it would be helpful.

Thank you for the report!

[2019-01-29 23:28] shaksi opened #128 "drupal jwt"
i currently a react native app that logins in directly using json web token  and then do bunch of calls via api.

i would like to remove the current authentication process and replace with auth0, is it possible to login directly to drupal with the accessToken provided by auth0?

[2019-02-20 00:16] #126 closed

[2019-03-02 01:46] edysmp opened #130 "Invalid token"
### Description

I am testing this with drupal 7 and I am getting this error after a login.
Error
The website encountered an unexpected error. Please try again later.
```GuzzleHttp\Exception\ClientException: Client error: `GET https://myaccount.auth0.com/api/v2/users/auth0%7C5c79b1854db6391d5dce9858` resulted in a `401 Unauthorized` response: {"statusCode":401,"error":"Unauthorized","message":"Inv

[2019-03-11 17:07] joshcanhelp commented on #128
@shaksi - Apologies for the late reply here.

I don't think I'm totally clear on your question here. If this is still something you're working on, can you give me a little more information about what you're looking to do? Is this a React Native app that is using a Drupal-provided API? In that case you'll want to use [the SPA flow](https://auth0.com/docs/flows/guides/single-page-login-flow/call-api

[2019-03-11 17:07] #128 closed

[2019-03-11 17:34] joshcanhelp commented on #130
@edysmp - Thanks for the report here. There is minimal support for Drupal 7 at the moment, though there are a couple of PRs open now that might improve the experience there. Right now, the focus is Drupal 8.

That said, it looks like you're trying to call the Management API for user information. I'm not seeing that in either version of the module. Can you tell me what version you're using? And con

[2019-03-11 17:41] edysmp commented on #130
@joshcanhelp I am using d7-2.x.x branch for a drupal7 project(We have projects in d7 and d8 that we want to use SSO on them). I've applied this PR https://github.com/auth0/auth0-drupal/pull/120 and it seems work good.

[2019-03-11 18:39] joshcanhelp commented on #130
OK, great, thank you for the feedback on that. I'll try to help move that along.

[2019-03-11 18:39] #130 closed

[2019-04-11 18:34] SumanaMalkapuram opened #136 "Issue with returnTo/state post callback"
Having an issue with the returnTo parameter.

Here is the issue:

Start login at /node/99 -> which takes me to /user/login if there is no session -> authenticates the user against Auth0 after building the authorize URL -> callback to module -> Here it returns to /user page instead of /node/99 where i started the authentication.
I see the https://github.com/auth0/auth0-drupal/blob/master/src/Contro

[2019-04-15 16:46] joshcanhelp commented on #136
Thank you @SumanaMalkapuram! I'll make sure to take a look at this and get it in the upcoming release.

[2019-04-23 21:06] #136 closed

[2019-04-29 15:07] #93 closed

[2019-05-01 15:43] bkildow opened #139 "Failed to exchange code for tokens: Invalid state"
### Description

After configuring this module, I've hit the following error: `Failed to exchange code for tokens: Invalid state`. I'm using the universal login page. After much debugging, I have figured out that the root cause of this is session cookies aren't being set for the anonymous user in drupal. D8 uses lazy sessions, so even though there is a session id present, it won't persist unless t

[2019-05-10 15:45] joshcanhelp commented on #139
See PR for discussion.

[2019-05-10 15:45] #139 closed

[2019-05-11 22:37] seamuslee001 opened #143 "Vendor directory included in drupal 8 distribution"
### Description

Just wondering why the vendor directory was included in the drupal 8 download for the latest release when it wasn't previously. I would have thought the normal expectation would be is that auth0 and other libraries would be found in the root vendor directory for drupal 8, given that the standard way of installing for Drupal 8 is via composer. I can understand having a vendor direc

[2019-05-14 23:57] joshcanhelp commented on #143
@seamuslee001 - Thanks for the post here. To be honest, I went back and forth with that before releasing this last version. We've had a number of customers download directly from DO and submit tickets about missing classes (missing vendor dir). The solution is to run Composer but it doesn't look like that is universal knowledge. Since this wouldn't hurt anyone using Composer and would help develop

[2019-05-31 14:10] lalit774 commented on #99
can you please share the patch for auth0?

[2019-06-18 15:06] thirdender opened #145 ""Please verify your email" message is shown as HTML code"
### Description

When a user who's e-mail has not been verified attempts to log in, the following message is displayed.

![Screenshot from 2019-06-18 11-00-52](https://user-images.githubusercontent.com/457620/59695628-88676c00-91b8-11e9-84a9-3cfd55240863.png)

This can be fixed by passing a rendered message to `drupal_set_message`:

[code]

If a string is passed, it is automatically sanitized.

##

[2019-06-18 20:27] joshcanhelp commented on #145
@thirdender - Apologies for the trouble here. I can confirm that on my end as well, that should not have slipped through. I'll assign this to myself and get a patch out ASAP.

Thank you for the report!

[2019-06-18 20:28] #143 closed

[2019-06-25 12:29] AmyyP opened #146 "Drupal Profile and Auth0 metadata sync"
hello,
i installed auth0-drupal (Drupal8.7 + https://www.drupal.org/project/auth0 ) module. which is working fine with new signup and login. but its not updating drupal profile fields with Auth0 user meta data(i.e. firstname, lastname) which are defined in drupal-auth0- advance settings tab(admin/config/auth0/advanced -> Mapping of Claims to Profile Fields (one per line) and Lock extra settings).

[2019-06-25 21:32] #145 closed

[2019-06-26 23:20] joshcanhelp commented on #146
Hi @AmyyP ... the claims that this setting refers to are [root-level profile attributes](https://auth0.com/docs/api/management/guides/users/update-root-attributes-users), which do not include `user_metadata` or `app_metadata`. The typical format is this:

[code]

You can add [custom claims](https://auth0.com/docs/scopes/current/custom-claims) if you need anything beyond what's sent back by default

[2019-06-26 23:20] #146 closed

[2019-07-23 07:59] mmmaxxx opened #150 "implementing auth0 with decoupled drupal"
i'm looking to implement auth0 in a decoupled drupal project with angular frontend, should i be using this drupal module or proceeding as answered in #128 and implementing the SPA flow in the angular app ? thanks

[2019-07-30 15:37] joshcanhelp commented on #150
@mmmaxxx - Totally depends. If you need to log in to Drupal and can use cookies to authenticate against a Drupal-served API, then this module is fine. If you're building a SPA talking to an API on a different domain and don't need Drupal authentication, then you'll need to use [our SPA JS SDK](https://github.com/auth0/auth0-spa-js). Just depends on how your application is architected.

Let me know

[2019-07-30 15:37] #150 closed

[2019-09-17 15:07] ozeberle commented on #123
Hi @Igsu-Bravo, I'm facing the same issue as you faced. I want to change roles for some users as administrators.
Can you give me a little bit of low level information about what you did to make this work?
My environment specs are the same as you had.
I completed **Claim for role mapping** in Auth0 advanced configuration at Drupal configuration with "roles" (without quotes) and "admin|administrator

[2019-09-17 15:40] ozeberle opened #152 "Change Drupal user roles based on Auth user roles"
I want to change roles for some users and assign them as administrators.
I mean, when a specific user logs in Drupal, his role is set automatically to administrator based on the Auth role previously assigned.
I completed **Claim for role mapping** in Auth0 advanced configuration at Drupal configuration with "roles" (without quotes) and "admin|administrator" in **Mapping of Claim Role Values to Dru

[2019-10-12 09:24] internalG opened #153 "Drupal7 maintaince"
Is the branch for D7 still working?

[2019-10-17 22:08] joshcanhelp commented on #153
@internalG - I'm not totally sure. Our team only focuses on maintenance for the master branch, which is D8. There have been a number of PRs that came through for D7 but no one stuck with them unfortunately. At this point, we're not planning a maintained D7 version.

[2019-10-17 22:08] #153 closed

[2019-11-01 15:47] amedve opened #154 "Mapping user profile fields shows PHP notice"
### Description

PHP error (notice) when mapping Claims to Profile Fields:
```Notice: Array to string conversion in Drupal\auth0\Controller\AuthController->auth0UpdateFields() (line 798 of modules/contrib/auth0/src/Controller/AuthController.php).```

It happens because of this line in the `auth0UpdateFields()`:
`$this->auth0Logger->notice('mapping ' . $mapping);`

The `$mapping` is an array.

###

[2019-11-02 04:37] #119 closed

[2019-12-19 05:46] joshcanhelp commented on #152
@ozeberle - Apologies for the trouble here. We have a whole document on namespacing here:

https://auth0.com/docs/tokens/concepts/claims-namespacing

Just make sure what you have in the Drupal admin for the claim matches what you're using in the Rule exactly.

Roles in the example in the PR you linked to are using `user_metadata`, not `app_metadata`. Those are 2 different fields.

Also ... if you'

[2020-01-14 13:02] reszli commented on #154
There is also another notice in the same controller:

_Notice: Undefined index: email_verified in Drupal\auth0\Controller\AuthController->signupUser() (line 662 of modules/contrib/auth0/src/Controller/AuthController.php)._

due to the following code:
`if ($userInfo['email_verified'] || $isDatabaseUser) {`
which should be smth like:
`if (isset($userInfo['email_verified']) || $isDatabaseUser) {`

[2020-01-14 17:27] reszli opened #156 "Split config for API keys and the rest of settings"
### Split config for API keys and the rest of settings

### Describe the ideal solution

## Alternatives and current work-arounds

[2020-01-31 16:00] #152 closed

[2020-02-13 10:42] moneeshkoundal opened #157 "Send verification email not working"
### Description

`Please verify your email and log in again.
   Resend Verification
`
If user clicks on the resend verification button then error message is shown

`Sorry, we could not send the email.`
### Reproduction

`Please verify your email and log in again.
   Resend Verification
`

It should send the verification email again.

### Environment
Test

- **Version of this library used: Auth0 Mo

[2020-04-22 18:40] #154 closed

[2020-04-22 18:40] #156 closed

[2020-05-20 11:59] #157 closed

[2020-05-20 22:51] tomdearden opened #158 "v1 of the Management API (deprecated) still in use for email verification"
### Description

Current versions (dev and released) of this module still contain a reference to v1 of the Management API within AuthController->verify_email().  This is triggering deprecation warnings in the Auth0 logs and will cause the related functionality to cease functioning following the switchoff of this API version in July 2020, potentially breaking the user signup process for sites that

[2020-08-19 14:44] ste1nstone opened #163 "Solution for auto login if the user already is logged in in another app in auth0"
### Description
Hi we use Drupal as a central application in our setup. Additional we have some angular apps.
All apps use auth0 als auth provider with the same tenant.

When a user login to drupal and then switch to an angular app the user gets logged in automaticly with help of the silent login functionality. Unfortunately it is not working the other way arround. I could not find a solution to a

[2020-08-24 17:23] langillerr commented on #163
I'm looking to do similar with multiple Drupal 8 sites.  Is this baked into the 11.7 release of lock.js?  Do we need to trigger a request to /authorize?  New to Auth0 and hoping Seamless SSO support is available in D8.

[2020-08-28 00:14] ozeberle opened #164 "Drupal | Auth0 fail after module activation"
### Environment

Please provide the following:

* Module version: drupal/auth0:^2.4
* Drupal version: 8.8
* PHP version: 7.2

### Reproduction

Guys, I have a Drupal running with docker and when try to enable the module I receive this error:
_Fatal error: require(): Failed opening required '/var/www/html/modules/contrib/auth0/vendor/composer/../symfony/polyfill-intl-idn/bootstrap.php' (include_pat

[2020-09-08 20:45] tomdearden commented on #163
This would be great for our use case, too.

[2020-09-08 20:45] tomdearden commented on #164
We're seeing the same thing in our app, too.

[2020-09-08 21:40] tomdearden commented on #164
Looks like this is down to an update to the version of Guzzle specified in this module's composer.lock file from Guzzle 6.3.x to 6.5.x - which brings in a dependency of its own on symfony/polyfill-intl-idn - I'm not clever enough to know why that should be a problem, though...

[2020-09-09 10:54] tomdearden commented on #164
For anyone else running into this issue, here is the solution I've put in place within my project as a temporary fix.  I'd raise a PR for a putative 8.x-2.5 release but as this seems to be a failure of the packaging process rather than an issue inherent in this project's source code, I don't think there's anything that I can do that would form the basis of one.

In order to work around the missing

[2020-09-16 02:11] nevkatz commented on #123
This is all very helpful. I had a question about namespacing. Is it okay to use the URL of one of my Drupal sites as the name space? In this case, http://sso-test-1.edc.org/{claim} - it bothers me that it doesn't go to a real page, but maybe that doesn't matter. Thanks for any insight!

[2020-09-21 11:42] ozeberle commented on #164
@tomdearden, I applied your suggestions and it worked!
Thanks for your help.

Regards,
Oscar.

[2020-11-06 01:36] JoeMurray commented on #163
We have a very similar use case where we want to have React app get Drupal user roles for a Auth0 login.

We can login with React app. We can use browser to login to Drupal 8 configured to use Auth0. But we haven't been able to get React either before or after logging in to Auth0 to login to and establish a Drupal 8 session so that we can its permission when calling API.

[2020-11-19 21:15] sourcejockey opened #165 "Checkbox "Auto Register Auth0 users (ignore site registration settings)" does nothing"
The Checkbox "Auto Register Auth0 users (ignore site registration settings)" does nothing. Is there a way to have this module respect the system settings to only allow an administrator to create accounts?

[2020-12-29 17:27] bjcooper commented on #163
Similarly, we have a decoupled setup and the Vue.js frontend is authenticated with Auth0. We're trying to figure out how to communicate this authentication to the Drupal backend when making requests for Drupal content (via Subrequests/JSON API). It's the same questions though—how to use Auth0 token to "silently" log into Drupal backend?

[2020-12-30 22:38] benstallings opened #166 "Override "Create new account" and "Reset your password" links with SSO"
### Description

When this module is enabled with SSO functionality, requests for /user/login are correctly redirected to the Auth0 login page, with /user/login/legacy allowing access to Drupal's default login form. However, requests for /user/register and /user/password are not redirected to Auth0, which means that any links to these routes in the Drupal site could result in users filling out the

[2020-12-31 20:37] benstallings commented on #166
It looks like redirecting to the /u/reset-password screen will require adding a field to the /admin/config/auth0 form in Drupal, since its full URL is /u/reset-password/request/DB-NAME, where DB-NAME is the database in use by the client, and Drupal doesn't have access to that information in the current form of the module.

[2020-12-31 21:55] benstallings commented on #166
On further consideration, it turns out that there's another redirect happening on the Auth0 end, such that the URL produced by the module is not in fact the URL you see in the browser, and there does not appear to be a way to rewrite it so that it will redirect to the /u/signup or /u/reset-password/request/DB-NAME screens instead of the login screen. So I'm going to have to settle for just redirec

[2020-12-31 22:51] benstallings opened #168 "Handle destination parameter in Drupal URLs"
### Description

Given a URL of the form /user/login?destination=some/page, the module should redirect the user to /some/page after they are done logging in, because this is core Drupal behavior. Currently, the user is redirected to /some/page without first logging in.

It looks like an attempt was made to implement this in AuthController.php, but the login function looks for a 'returnTo' paramete

[2021-02-25 01:15] vamirbekyan opened #169 "Auth0 tab to be added to the /user/###/auth0 path"
* Drupal version: D8/9
* PHP version: 7.4

anyone has a patch to have that tab added to see all auth0 claims on that tab for users?  Is it on the roadmap?
thank you for the module!!

[2021-03-04 07:08] inuk66 opened #170 "Pass in extra parameters to authorization URL when using Universal Login"
### Description

When the Universal Login advanced setting is checked, we should be able to pass in extra parameters to the authorization URL.

An example where this would be useful is to select the 'Sign Up' tab when the user is redirected to the Universal Login page.

https://community.auth0.com/t/how-do-i-redirect-users-directly-to-the-hosted-signup-page/42520

### Prerequisites

* [:white_chec

[2021-04-01 12:13] RCheesley commented on #163
We also have this issue with Discourse forums and our Drupal site - a solution would be awesome!

[2021-04-13 13:57] ennorehling opened #174 "Auth0 is not fully installed. See the module's INSTALL.txt file for installation instructions."
### Description

After configuring Auth0, I get the message: `Auth0 is not fully installed. See the module's INSTALL.txt file for installation instructions.`

This seems to be caused by auth0_check_dependencies returning FALSE, even though I have the composer dependencies installed via composer manager.

Please provide the following:

* Module version: 7.x-2.x-dev
* Drupal version: 7.78
* PHP vers

[2021-04-26 16:32] BrizzleRocker opened #175 "Logout does not work."
### Description

Logout invocation does not work unless the Allowed Logout URLs field in the Advanced Tab of the Tenant Settings is populated. The Application URIs setting is not respected as the `client_id` parameter is not sent with logout.

### Prerequisites

* [ Y] Did you check the [Auth0 Community](https://community.auth0.com/)?
* [ Y ] Are you reporting this to the correct repository?
* [ N

[2021-05-18 10:07] noemi-mancini opened #176 "Project maintenance"
Hi all, this is not an issue for a bug or a feature request, but a simple investigation about the maintenance of this project.

First of all, I want to thank owners and current maintainers for creating and developing this module, that we are using in some projects of our company, and we find it very useful.

We would like to know if the project is currently being maintained or if we can help out i

[2021-05-18 15:19] sourcejockey commented on #176
@noemi-mancini I've been asking this for a while now...and it's complete radio silence.

We've started to port it internally, but we're seeing a lot of PHP8 compatibility issues with some of the dependencies...

[2021-05-18 15:58] noemi-mancini commented on #176
Hi @sourcejockey, thanks for your reply.

It would be a real pity if it's not supported anymore.
At the moment I'm just upgrading the module to ensure D9 compatibility, but it would be nice if there is a way to help maintain the module.

[2021-05-18 16:13] sourcejockey commented on #176
Agreed--we rely on it for a couple of our sites, but we're holding off on PHP8 ONLY because of this module...

[2021-06-10 17:01] Renrhaf commented on #176
+1

[2021-06-13 11:51] gabiu opened #177 "Roles mapping does not work"
### Description

I have successfully connected Auth0 with the Drupal site at https://agile.digital.ai/
I created a new user role in both Drupal and Auth0 called `premium`.
I see there is a configuration for roles mapping and we need to fill in the following:

Claim for Role Mapping:
roles
Mapping of Claim Role Values to Drupal Roles (one per line)
Premium|premium

### Environment

Please provide t

[2021-08-24 02:42] duartegarin commented on #176
+1

[2021-09-08 21:54] sourcejockey opened #180 "Module Deprecated"
I just received an email saying this module we be deprecated March 2022.

If anyone from Auth0 reads these...I'm pretty disappointed in that decision.

[2021-09-08 21:55] sourcejockey commented on #176
@noemi-mancini Looks like it's toast as of March 2022.

[2021-09-09 02:37] duartegarin commented on #180
Likewise, this shows a complete disregard from Auth0 to their customers. We are an enterprise customer and weren't even asked if we were using Drupal.

[2021-09-09 08:03] noemi-mancini commented on #176
@sourcejockey just read the email.
We're thinking about taking charge of the maintenance. Do you already have any plans?

[2021-09-09 08:06] sourcejockey commented on #176
No; we ported ours over to D9.3, but it's not PHP8 compatible (looks like the PHP SDK isn't super PHP8 friendly), and unless the PHP SDK beta makes it to Prod, we're not going to risk it. We didn't have enough clients looking to use it, rightfully so, it seems. Perhaps a chicken and the egg problem.

[2021-09-09 13:50] langillerr commented on #180
We've spent the past few months gearing up for using this on our multi-site environment, and were just about to launch on 6 new sites.  To now have to reconsider all that work and potentially think of an alternative plan vs waiting to see if the community takes over support is quite concerning.  Six months notice is an appalling short timeframe in the enterprise world and I have to say I'm quite d

[2021-09-10 13:07] Polynya commented on #180
I'm in a similar position, building a Drupal website for a client who already uses Auth0 for other applications.

I hope this is an opportunity for the community get the module up to date, as Auth0 haven't done much to support it for a couple of years. The module still doesn't support Drupal 9 without a patch, and it uses the 5.x branch of auth0-php which has many deprecated functions and doesn't

[2021-09-14 12:37] BalintCsuthy commented on #176
https://community.auth0.com/t/community-repo-deprecation-auth0-drupal/69328

https://www.drupal.org/docs/develop/managing-a-drupalorg-theme-module-or-distribution-project/maintainership/taking-over-unsupported-abandoned-projects

I would suggest to do the drupal.org process for taking over abandoned projects. Then move the codebase and the issues back to drupal.org.

[2021-09-14 12:37] BalintCsuthy commented on #180
https://github.com/auth0-community/auth0-drupal/issues/176#issuecomment-919108831

[2021-09-14 15:19] noemi-mancini commented on #176
Thanks @BalintCsuthy , we're going to take some actions in the next days.

[2021-09-14 15:19] sourcejockey commented on #176
@BalintCsuthy @noemi-mancini
Tried & failed:
https://www.drupal.org/project/auth0/issues/3146695

[2021-09-14 16:39] Pasqualle commented on #176
You can take full ownership if the maintainers are unresponsive, as described in
https://www.drupal.org/docs/develop/managing-a-drupalorg-theme-module-or-distribution-project/maintainership/taking-over-unsupported-abandoned-projects

Create an issue under "Drupal.org project ownership". Read similar issues:
https://www.drupal.org/project/issues/projectownership

I think the
deprecation notice: htt

[2021-10-13 08:20] noemi-mancini commented on #176
Hi all, sorry for the delay. We hadn't the time yet to take any action, sorry!

Thanks to @Pasqualle for all the info, the multiple maintainers option is really interesting. I'm going to open the request in the next days.

[2021-11-02 13:47] ptrin commented on #177
I believe you'd need to add the roles to what is returned with the claim using a Rule in Auth0 (that's how we're doing it anyway).

[2021-12-03 04:09] matthewmessmer commented on #176
Has there been any update on taking over ownership of the module on d.o?

[2022-01-03 17:30] AlexanderAllen commented on #176
Really interested in adopting auth0 along with this module.
Auth0 seems like a really solid authentication solution, and auth0 packagist project is up to date with PHP 8.x:

https://packagist.org/packages/auth0/auth0-php#8.0.4

It would be nice to upgrade this module to use the latest auth0-php library, which supports PHP 8.x!

[2022-01-05 16:07] AlexanderAllen commented on #176
Since [D.O. issue #3146695](https://www.drupal.org/project/auth0/issues/3146695) is closed as of 13 Oct 2021, I've created a new issue over at Drupal.org to help take over maintenance of the Drupal module:

- [D.O. issue #3257085](https://www.drupal.org/project/auth0/issues/3257085)

I mentioned @noemi-mancini, @shadcn, and @sourcejockey as potentially interested in becoming maintainers as well!

[2022-01-12 03:06] matthewmessmer commented on #176
I've updated the module to work with v7 of the Auth0 SDK which is PHP 8.x compatible. It might still contain some bugs, but once someone is able to get ownership of the project on D.O I can open an issue there for review.

[2022-01-12 03:25] rob3000 commented on #176
Hey @AlexanderAllen I've just given you access to the project page on D.O as well as others mentioned in https://www.drupal.org/project/auth0/issues/3257085

[2022-01-12 07:23] Renrhaf commented on #176
I also updated recently a private fork of the module for that purpose. I'll check/update the PRs when the module will be transfered and a PR opened.

[2022-01-12 19:44] AlexanderAllen commented on #176
Hey @rob3000, I just saw this. Thank you so much! I'll verify and let you know if there's any issues.

@matthewmessmer you have my attention! Let's open an issue on the D.O. project for this. Definitely need a branch in there for integrating and testing the latest version of the SDK.

@Renrhaf let's check over at the D.O. issue queue, would very much like your insight as well!

[2022-01-12 22:18] AlexanderAllen commented on #176
@noemi-mancini, @matthewmessmer, @Renrhaf, @noemi-mancini @shadcn, @sourcejockey: Now that the D.O. community has access to the module (thanks to @rob3000), I've created [D.O. issue #3258312](https://www.drupal.org/project/auth0/issues/3258312) for discovery and putting the Drupal module back into ship shape with the latest versions of the Auth0 library over at Packagist!

Let's get this party sta

[2022-01-12 22:46] sourcejockey commented on #176
This is the best news I've heard all year!!!

[2022-01-13 08:32] noemi-mancini commented on #176
Hi all! I see great news here!
I'm so sorry for not responding in recent weeks, work hit hard. :sweat_smile:

I'm checking in on D.O. but I think another "noemi" user has been added to maintainers instead of me. My account is this one: https://www.drupal.org/user/472120

[2022-01-13 09:03] noemi-mancini commented on #176
Hi all! I see great news here!
I'm so sorry for not responding in recent weeks, work hit hard. :sweat_smile:

I'm checking in on D.O. but I think another "noemi" user has been added to maintainers instead of me. My account is this one: https://www.drupal.org/user/472120

[2022-01-13 15:24] AlexanderAllen commented on #176
The issue tracker was disabled on the project, so that's probably why the issue links where not working properly.
Now it's working again on D.O. after re-enabling the issue tracker.
We should be tracking and coordinating issues over there instead of Github per community best practices for modules.

[2022-01-13 15:25] noemi-mancini commented on #176
Yeah I'm in! Thank you!

I agree, we should use the D.O. issue tracker.

[2022-01-13 15:34] sourcejockey commented on #176
Agreed on the D.O. issue tracker. I'm @greatmatter (https://www.drupal.org/u/greatmatter) on D.O., I'm happy to pitch in, though all my mods have been on the old (non PHP8) version of the SDK.

[2022-01-13 19:26] AlexanderAllen commented on #176
Hey @noemi-mancini, @sourcejockey, jump in here when you get a chance: https://www.drupal.org/project/auth0/issues/3258312#comment-14367184

@sourcejockey:
1. I know from the Github history and comments that you've worked on this for a bit, you're in there now :)
2.  Those are some of the questions I ponder on issue #3258312. Input greatly appreciated.

For example:
- I'm 100% fine with using the

[2022-01-13 19:32] AlexanderAllen commented on #176
@rob3000 do you know what is the deprecation timeline for the auth0 library over at Packagist? I'd be nice to have an idea of when Auth0 5.x is gonna keel over so we can plan ahead and inject some urgency into the community efforts if needed!

Cheers.